/* element sections */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: #7bafd4;
  --secondary-color: lightgrey;
}

header {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  justify-content: space-between;
}

body {
  margin: 50px;
  border: black 3px solid;
  padding: 100px;
}

/* class to hide portions of html not needed at certain times */
.hide {
  visibility: hidden;
}

.main {
  padding: 25px 50px;
  text-align: center;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: left;
}

/* main element */
.main h2 {
  font-size: 30px;
  padding: 20px;
}

.main p {
  font-size: 18px;
  padding: 20px;
}

.main h3 {
  text-align: left;
}

.start-btn {
  width: 250px;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px;
  color: white;
  background-color: var(--primary-color);
  font-size: 20px;
  margin: auto;
  border: 1px black solid;
}
.start-btn:hover {
  background-color: var(--secondary-color);
  color: black;
}
/* end main element */

/* question & answer section */
.answer-buttons {
  width: 250px;
  margin: 10px 0;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  background-color: var(--primary-color);
  font-size: 16px;
  text-align: left;
  border: 1px black solid;
}

.answer-buttons:hover {
  background-color: var(--secondary-color);
  color: black;
}

/* feedback after answer clicked */
.answer-alert {
  font-style: italic;
  font-size: 25px;
  color: grey;
  border-top: grey solid 5px;
  text-align: left;
}
#feedback {
  padding: 10px 50px;
}

#feedback p {
  padding-top: 15px;
}
/* end question & answer section */

/* end of quiz page */
.final-content {
  display: flex;
  flex: wrap;
  justify-content: auto;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.final-content h2 {
  padding: 10px;
  margin: auto;
  font-size: 35px;
}

.final-content p {
  font-size: 20px;
  padding: 25px 10px 0 0;
}

#submitBtn {
  background-color: var(--primary-color);
  color: white;
  margin-left: 20px;
  padding: 5px 20px;
  font-size: 20px;
  border: 1px black solid;
}

#submitBtn:hover {
  background-color: var(--secondary-color);
  color: black;
}

#initials {
  padding: 5px 20px;
}
/* end end of quiz styles */

/* view high scores link to other page */
#high-scores {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  padding: 20px 50px;
}

#high-scores:hover {
  color: black;
}
/* end high scores link */

/* timer */
#timer {
  padding: 20px 50px;
  text-align: right;
}

/* HIGH SCORES PAGE */

.high-scores-main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.high-scores-main h1 {
  font-size: 40px;
}

.score-initials {
  width: 540px;
  margin: 20px 0;
}

.scores-list {
  list-style: none;
  background-color: var(--primary-color);
  margin: 10px;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  border: 1px black solid;
}

.scores-list:nth-child(even) {
  background-color: var(--secondary-color);
  color: black;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.scores-btn {
  width: 250px;
  padding: 10px 20px;
  color: white;
  background-color: var(--primary-color);
  font-size: 20px;
  border: 1px black solid;
  margin: 10px;
}

.scores-btn:hover {
  background-color: var(--secondary-color);
  color: black;
}
